body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /* margin-top: 60px; */
  }
  h1{
    font-size: 30em;
  }
  
  body, html, #body{
      height: 100%;
      margin:0px;
      padding:0px;
  }
  
  
  .mySlides1, .mySlides2 {display: none}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    border-radius: 4px;
    border:none;
      background:rgb(213, 213, 213);
  }
  
  /* Position the "next button" to the right */
  .next {
    /* margin-right: 0px;
    border-radius: 3px 0 0 3px;
    float:right; */
    position: absolute;
    bottom: 3vh;
    right:70vw;
  }
  
  #title{
      font-size:1.5em;
  }
  
  .prev {
      position: absolute;
      bottom: 3vh;
      left:0;
  
  }
  
  #tutorialText{
      height: 10vh;
      color:black;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
  
  button#btnReset:hover{
      background-color: hsl(0, 0%, 52%);
  
  }
  
  button#btnCompile:hover{
      background-color: #398239;
  }
  
  
  .CodeMirror-cursor {
      border-left: 1px solid white;
  }
  
  #grid {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    flex-grow: 1;
  }
  .column {
  
   flex-grow: 1;
  
  }
  
  
  div.sixteen.wide.computer.sixteen.wide.tablet.sixteen.wide.mobile.column{
    flex-grow: 1;
  }
  
  h1{
    font-size: 5vw;
  }
  

  h3 {
    margin: 40px 0 0;
  }
  
  button.ui.button{
  color: black;
      font-size: 14pt;
      background: white;
      -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      padding: 30px;
      margin-bottom: 20px;
      width: 20vw;
      border: 1px solid #fff;
      border-radius: .3em;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }


  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }