body, html {
    height: 100%;
    margin:0px;
    padding:0px;
}

#editor {
    border: 1px solid #DDD;
    width: 49%;
    height: 100% !important;
    display: inline-block;
    margin:0px;
}

.CodeMirror{
    height: 100%;
}

#buttons {
    text-align: left;
    margin-bottom: 10px;
}

.output {
    width: 49%;
    height: 89vh;
    float:right;
    display: inline-block;
    text-align: center;
}

#visualizer{
    border: lightgrey 1px solid;
    height: 50vh;
    margin:0px;
}

#tutorial{
    height: 50vh;
    width: 50vw;
}

.marked-text {
    /* background: red;     */
}

.output{
    width: 50%;
    height: 100%;
}


textarea#code_vert.code_input_vert {
    display: none;
}

textarea#code_frag.code_input {
    display: none;
}

#code_frag_error {
    text-align: left;
    height: fit-content;
}

#code_frag_error_div {
    height: 42vh;
    margin: 0px;
    text-align: left;
}









* {box-sizing: border-box}

.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position: absolute;
  margin-top: 35vh;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  margin-right: 10px;
  border-radius: 3px 0 0 3px;
}

.prev {
    left:0;
}

#tutorialText{
    height: 10vh;
    color:black;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}