body, html {
    height: 100%;
    margin:0px;
    padding:0px;
}

#main{
    height:89vh;
    box-sizing: border-box;
    display: flex !important;
}

#btnReset{
    color:white;
    background-color:#444857;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    border:none;
    padding:6px;
    border-radius: 4px;
    margin-top:8px;
    margin-right: 5px;
}

#btnCompile{
    background-color: #4bb14b;
    color:black;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    border:none;
    padding:6px;
    border-radius: 4px;
    margin-top:8px;
}
#headWrapper {
    background: #1e1f26;
    height:8vh;
    width: 100%;
    display: flex;
    font-size: 20px;
    color: white;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#headWrapper p{
    padding-left: 10px;
    font-weight: 600;
}
.buttonBar{
    height:6vh;
    background:rgb(26, 26, 27);
    width:100%;
    border-bottom: 1px solid #333642;
}

#footerBar{
    margin-top:-4px;
}




#tutorialMain{
    text-align: left;
    margin: 1vw;
    padding: 1vw;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.panel{
}

#select_id2{
    float: right;
    color:black;
    /* background-color:#444857; */
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    border:none;
    padding:6px;
    border-radius: 4px;
    margin-top:8px;
    margin-right: 5px;
}


#myWebGLCanvas{
    border:1px solid #1e1f26;
}
#footWrapper{
    background:#333642;
    height: 3vh;
    width: 100%;
}

.dividers{
    background:#333642;
    height: 89vh;
    border-left:1px solid #4e4e4e;
    border-top:1px solid #4e4e4e;
    width:0vh;
    border-bottom: #202121 1px solid;
}

#editor {
    width: 40vw;
    height: 89vh !important;
    margin:0px;
    display: inline-block;
}

/* #editorHeader{
    height: 7vh;
    background:rgba(0, 0, 0, 0.93);
    width:40vw;
} */

.CodeMirror-gutters {
    border-right: none;
   background-color:#1d1e22;
}

.CodeMirror{
    height: 83vh;
    background: #1d1e22;
    color: whitesmoke;
    letter-spacing: .03em;
    font-size:1.1em;
    width: 100%;
}

#buttons {
    margin-right: 5px;
    float:right;
}

.output {
    width:30vw;
    height: 89vh;
    float:right;
    display: inline-block;
    text-align: center;
    background:#1d1e22;
}

#visualizer{
    height: 89vh;
    margin:0px;
}

#tutorial{
    height: 89vh;
    width: 30vw;   
    display: inline-block;
    text-align: center;
    background: white;
}

.marked-text {
    /* background: red;     */
}

#tutorialHeader{
    background: rgb(239, 239, 239);
    border: none;
    box-shadow: 0 0 10px #333;
}
#tutorialHeader p{
    margin:0px;
    padding:15px 10px 10px 10px;
    text-align: left;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;

}

textarea#code_vert.code_input_vert {
    display: none;
}

textarea#code_frag.code_input {
    display: none;
}

#code_frag_error {
    text-align: left;
    height: fit-content;
    color:white;
}

#code_frag_error_div {
    height: 42vh;
    margin: 0px;
    text-align: left;
    color:white;
}






.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  border-radius: 4px;
  border:none;
    background:rgb(213, 213, 213);
}

/* Position the "next button" to the right */
.next {
  /* margin-right: 0px;
  border-radius: 3px 0 0 3px;
  float:right; */
  position: absolute;
  bottom: 3vh;
  right:70vw;
}

.prev {
    position: absolute;
    bottom: 3vh;
    left:0;

}

#tutorialText{
    height: 10vh;
    color:black;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}