body, html {
    padding: 15px;
    height: fit-content;
}

#editor {
    border: 1px solid #DDD;
    width: 49%;
    height: 89vh;
    display: inline-block;
    
}

.output {
    width: 49%;
    height: 89vh;
    float:right;
    display: inline-block;
}

.visualizer{
    border: lightgrey 1px solid;
    height: 43vh;
    margin-bottom: 3vh;
}

.tutorial{
    border: lightgrey 1px solid;
    height: 43vh;
}

.marked-text {
    /* background: red;     */
}