body, html {
    padding: 15px;
    height: fit-content;
}

#editor {
    border: 1px solid #DDD;
    width: 49%;
    height: 89vh;
    display: inline-block;
    
}

.CodeMirror{
    height: 100%;
}

#buttons {
    text-align: left;
}

.output {
    width: 49%;
    height: 89vh;
    float:right;
    display: inline-block;
    text-align: center;
}

#visualizer{
    border: lightgrey 1px solid;
    height: 43vh;
    margin-bottom: 3vh;
}

#tutorial{
    border: lightgrey 1px solid;
    height: 43vh;
}

.marked-text {
    /* background: red;     */
}


textarea#code_vert.code_input_vert {
    display: none;
}

textarea#code_frag.code_input {
    display: none;
}